<h1>Create New Song</h1>

<%= form_for @song do |f| %>
    Name:
    <%= f.text_field :name %>
    Artist id:
    <%= f.number_field :artist_id %>
    Genre id:
    <%= f.number_field :genre_id %>
    <%= f.submit :'Create Song' %>
<% end %>